@media screen and (max-width: 799px) {
    :root {
        overflow-x: hidden;
    }
    
    body {
        width: 100%;
        max-width: 799px;
        margin: 0 auto;
        padding: 20px;
        overflow-x: hidden;
        position: relative;
    }

    #order-form {
        display: flex;
        align-items: center;
    }

    .order-title {
        width: 95vw;
    }

    .order-video {
        position: absolute;
        top: -100px;
        z-index: -1;
        left: 0;
        width: 800px;
    }

    .home-video-order {
        position: absolute;
        top: 50px;
        left: -400px;
        z-index: -1;
        width: 800px;
    }

    .order-description {
        color: rgb(104, 98, 98);
        font-family: 'Roboto', sans-serif;
    }

    .order-title-top {
        position: relative;
    }

    .close-order {
        position: absolute;
        width: 50px;
        height: 50px;
        top: -40px;
        right: -10px;
    }

    .input-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 95vw;
    }

    .input-top input {
        width: 85vw;
    }

    #service {
        width: 90vw;
    }

    .file-order {
        top: 363px;
        left: 10px;
    }

    .input-file {
        width: 200px;
        top: 363px;
        left: 10px;
    }

    .personal-data {
        margin-top: 90px;
        width: 400px;
    }

    .order-bottom button {
        top: -30px;
        left: 0;
    }
}